@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Young Serif', serif;
    font-size: 10px;
}

body{
    font-size: 10px;
    background-color: #F3E5D7;
}

main{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 100%;
    height: 200px;
}

article{
    padding: 32px;
}

h1{
    font-size: 3.2rem;
    font-weight: normal;
}

h2{
    color:#854632;
    font-size: 2.8rem;
    font-weight: normal;
}

h3{
    color:#7A284E;
    font-size: 2rem;
    font-weight:bolder;
    padding: 24px;
}

p{
    padding-top: 32px;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 30px;
    color: #5F564D;
}

span{
    font-weight: bold;
    color: #5F564D;
}

ul{
    padding: 24px;
}

.preparationUl{
    line-height: 250%;
    color: #7A284E;
}

.ingredientsUl{
    color: #854632;
    line-height: 170%;
}

li{
    font-size: 1.6rem;
    padding: 16px;
}

li span{
    font-size: 1.6rem;
}

.liLeftPart{
    color: #5F564D;
    font-weight: lighter;
}